@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%); }
  70% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10%); }
  70% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-big {
  margin-top: 8rem; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  /* default font-size: 16px -> 62.5% * 16px = 10px */
  /* 10px */
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  padding: 3rem;
  box-sizing: border-box;
  font-size: 1.5rem; }

.text-box {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  text-align: center; }

.heading-primary--main {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 2.2rem;
  text-transform: uppercase;
  animation: moveFromLeft 2s; }

.heading-primary--sub {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.95rem;
  animation: moveFromRight 2s; }

.heading-secondary {
  color: #f3f3f3;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(0) skewX(-20deg) scale(1.1);
    text-shadow: 0.3rem 0.6rem 0.9rem rgba(0, 0, 0, 0.24); }

.heading-tertiary {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 50%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    transition: all .1s;
    z-index: 10; }
    .composition__photo--p1 {
      left: 0;
      top: 0; }
    .composition__photo--p2 {
      right: 10%;
      top: 4rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.2rem);
      outline: 0.5rem solid #55c57a;
      box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: #eee;
  transform: skewX(-12deg);
  padding: 3rem 2rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15); }
  .story__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(2rem) skewX(12deg); }
  .story__img {
    height: 100%; }
  .story__text {
    transform: skewX(12deg);
    padding-left: 5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 10rem;
  margin-top: 2rem;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.5) !important;
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #55c57a;
  color: #fff; }
  .btn--primary::after {
    background-color: #fff; }

.btn--animated {
  animation: moveFromBottom 2s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  padding: 3px 5px;
  transition: all .3s;
  display: inline-block;
  border-radius: 2px; }

.btn-text:hover {
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
  transform: translateY(-1px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.feature-box {
  flex: 1;
  text-align: center;
  margin: auto 2rem;
  padding: 5rem 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all .2s; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: 40px;
    font-style: bold;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.1); }

.card {
  background-color: transparent;
  width: 300px;
  height: 50rem;
  perspective: 1000px; }
  .card__side {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
    .card__side--item {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      color: #fff;
      text-align: center;
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to bottom right, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to bottom right, #2998ff, #5643fa); }
      .card__side--back--3 {
        background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
  .card:hover .card__side {
    transform: rotateY(180deg); }
  .card__img {
    height: 20rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__img--1 {
      background-image: linear-gradient(to bottom right, #ffb900, #ff7730), url("../img/tour-1.jpg"); }
    .card__img--2 {
      background-image: linear-gradient(to bottom right, #2998ff, #5643fa), url("../img/tour-2.jpg"); }
    .card__img--3 {
      background-image: linear-gradient(to bottom right, #7ed56f, #28b485), url("../img/tour-3.jpg"); }
  .card__heading {
    position: absolute;
    top: 8rem;
    right: 2rem;
    color: white;
    text-transform: uppercase;
    font-size: 2.8rem;
    width: 70%;
    text-align: right; }
  .card__heading-span {
    padding: 1rem .5rem;
    line-height: 3.8rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
  .card__details {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem; }
    .card__details ul {
      text-align: center;
      list-style: none; }
      .card__details ul li {
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%; }
  .card__price-only {
    padding: 2rem; }
  .card__price-value {
    font-size: 4.8rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(217, 255, 231, 0.4), rgba(217, 255, 204, 0.8)), url("../img/img1.jpeg");
  height: 95vh;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative; }
  .header__logo-box {
    width: 7rem;
    height: 7rem;
    position: absolute; }
    .header__logo-box .logo {
      width: 6.5rem;
      margin: 1rem; }

.section-about {
  background-color: #f3f3f3;
  padding: 20rem 1rem 20rem 5rem;
  margin-top: -18vh; }

.section-feature {
  padding: 15rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.5), rgba(40, 180, 133, 0.9)), url("../img/img1.jpeg");
  background-size: cover;
  transform: skewY(-7.5deg);
  margin-top: -9rem; }
  .section-feature > * {
    transform: skewY(7.5deg) !important; }

.section-tour {
  margin-top: 10rem;
  padding: 5rem 0 2rem 0;
  margin-bottom: 10rem; }

.row {
  display: flex;
  justify-content: space-around; }

.col-1-of-2 {
  flex: 1; }
