@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%); }
  70% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10%); }
  70% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  /* default font-size: 16px -> 62.5% * 16px = 10px */
  /* 10px */
  font-size: 62.5%; }

body {
  font-family: "Montserrat", sans-serif;
  padding: 3rem;
  box-sizing: border-box;
  font-size: 1.5rem; }

.text-box {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  text-align: center; }

.heading-primary--main {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 2.2rem;
  text-transform: uppercase;
  animation: moveFromLeft 2s; }

.heading-primary--sub {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.95rem;
  animation: moveFromRight 2s; }

.heading-secondary {
  color: #f3f3f3;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(0) skewX(-20deg) scale(1.1);
    text-shadow: 0.3rem 0.6rem 0.9rem rgba(0, 0, 0, 0.24); }

.heading-tertiary {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.composition {
  position: relative; }
  .composition__photo {
    position: absolute;
    width: 50%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.4);
    outline-offset: 2rem;
    transition: all .1s;
    z-index: 10; }
    .composition__photo--p1 {
      left: 0;
      top: 0; }
    .composition__photo--p2 {
      right: 10%;
      top: 4rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.2rem);
      outline: 0.5rem solid #55c57a;
      box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 10rem;
  margin-top: 2rem;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.5) !important;
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10rem;
  z-index: -1;
  transition: all 0.4s;
  background-color: #fff; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveFromBottom 2s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  color: #55c57a;
  padding: 3px 5px;
  transition: all .3s;
  display: inline-block;
  border-radius: 2px; }

.btn-text:hover {
  background-color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  color: #fff;
  transform: translateY(-1px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.header {
  background-image: linear-gradient(to right bottom, rgba(217, 255, 231, 0.4), rgba(217, 255, 204, 0.8)), url("../img/img1.jpeg");
  height: 95vh;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative; }
  .header__logo-box {
    width: 7rem;
    height: 7rem;
    position: absolute; }
    .header__logo-box .logo {
      width: 6.5rem;
      margin: 1rem; }

.section-about {
  background-color: #f3f3f3;
  padding: 15rem 0;
  margin-top: -20vh; }

.row {
  display: flex;
  justify-content: space-around; }

.col-1-of-2 {
  flex: 1; }
