@import 'abstract/variables';
@import 'base/animation';
@import 'base/utilities';
@import 'base/base';
@import 'base/typography';

@import 'components/composition';
@import 'components/story';
@import 'components/button';
@import 'components/feature-box';
@import 'components/card';
@import 'components/bg-video';
@import 'components/form';

@import 'layouts/header';
@import 'pages/home';
// npm run compile:sass
// live-server --host=127.0.0.1 --port=5000
// run when change: live-server

// video src: https://coverr.co/

// https://css-tricks.com/snippets/html/glyphs/



.row {
    display: flex;
    justify-content: space-around;
}

.col-1-of-2 {
    flex: 1;
}