.feature-box {
    text-align: center;
    margin: auto 2rem;
    padding: 5rem 20px;
    background-color: rgba($color-white, 0.8);
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    &__icon {

    }
    &__text {   

    }
}
