

.heading-primary{
  color: #fff;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  text-align: center;
  &--main {
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 2.2rem;
  text-transform: uppercase;
  animation: moveFromLeft 2s;
}

&--sub {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.95rem;
  animation: moveFromRight 2s;
}
}