
.section-about {
    background-color: $color-grey-1;
    padding: 15rem 0;
    margin-top: -20vh; // = 95 - 75vh (height header - heigh clip path)   
}

.section-feature {
    padding: 15rem 5rem;
    display: flex;
    justify-content: center;
    // note
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-dark, .9)
      ),
      url("../img/img1.jpeg");
      background-size: cover; // note
      transform: skewY(-7deg);
      & > * {
          transform: skewY(7deg);
      }
}