
.section-about {
    background-color: $color-grey-1;
    padding: 15rem 0;
    margin-top: -20vh; // = 95 - 75vh (height header - heigh clip path)   
}

.section-feature {
    padding: 15rem 0;
    // note
    background-image: linear-gradient(
        to right bottom,
        rgba(217, 255, 231, 0.4),
        rgba(217, 255, 204, 0.8)
      ),
      url("../img/img1.jpeg");
      background-size: cover; // note
}