
.section-about {
    background-color: $color-grey-1;
    padding: 20rem 1rem 20rem 5rem;
    margin-top: -18vh; // = 95 - 75vh (height header - heigh clip path)   
}

.section-feature {
    padding: 15rem 5rem;
    // note
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.5),
        rgba($color-primary-dark, .9)
      ),
      url("../img/img1.jpeg");
      background-size: cover; // note
      transform: skewY(-7.5deg);
      margin-top: -9rem;
      & > * {
          transform: skewY(7.5deg) !important;
      }
}