.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 10rem;
    font-size: 1.4rem;
    &__logo-box {
        margin-bottom: 5rem;
        img {
            width: 100px;
        }
    }

    &__navigation {
        text-align: center;
        flex: 1;
        display: inline-block;
    }
    &__list {
        border-top: 1px solid $color-grey;
        padding-top: 1rem;
        display: inline-block;
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        display: inline-block;
        &:link, &:visited {
            text-decoration: none;
            color: $color-grey;
            text-transform: uppercase;
            padding: .5rem;
            transition: all .2s;
        }
        &:hover, &:active {
            color: $color-primary;
            box-shadow: 0 1rem 3rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.2);
        }
    }

    &__copy-right {
        flex: 1;
        border-top: 1px solid $color-grey;
        padding-top: 1rem;
    }
}
